<div class="row justify-content-evenly">
    <div class="col-12 p-5 text-light">
        <h1 class="display-3 text-center">{{pet.name}}</h1>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3 p-sm-5 p-md-1 pl-5 text-center">
        <img src="{{pet.photo.url}}" class="img-fluid floater border border-secondary border-5 rounded-5 bg-success pl-5" alt="...">
    </div>
    <div class="col-md-6 text-light align-self-center py-3 px-5">
        <h3>Raza: {{pet.breed}}</h3>
        <h3>Edad: {{pet.age}} años</h3>
        <h3>Dueño: <a href="{% url 'usuarios:profile' pet.user.id %}">{{pet.user.first_name}} {{pet.user.last_name}}</a></h3>
        <a href="https://wa.me/{{ pet.user.phone_number }}" class="btn btn-success btn-lg"><i class="fa-brands fa-whatsapp"></i> Contactar al dueño vía whatsapp</a>
        <a href="{% url 'pets:mail' pet.id %}" class="btn btn-danger btn-lg mt-3"><i class="fa-regular fa-envelope"></i> Enviar dirección al dueño vía Email</a>
    </div>
</div>