{% load static %}
<nav class="navbar navbar-dark bg-dark fixed-top" aria-label="Dark offcanvas navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'pets:home' %}"><img src="{% static 'image/favicon.png' %}" alt="" height="100%" width="40px"> PetFinder!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark b-5" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-light" id="offcanvasNavbarDarkLabel">PetFinder</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'pets:notifications' %}"><i class="fa-solid fa-bell fa-2xl" alt="notifications"></i> Notificaciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'pets:mypets' %}"><i class="fa-solid fa-dog fa-2xl"></i> Mis mascotas</a>
              </li>
              <hr>
              <p class="h4 text-light">Tienda</p>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'store:store' %}"><i class="fa-solid fa-bag-shopping fa-2xl"></i> Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'store:my_purchases' %}"><i class="fa-solid fa-cash-register fa-2xl"></i> Órdenes de compra</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'store:cart' %}"><i class="fa-solid fa-cart-shopping fa-2xl"></i> Mis compras</a>
              </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'usuarios:login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'usuarios:register' %}"><i class="fa-solid fa-user-pen"></i> Registrate</a>
            </li>
            {% endif %}
          {% if user.is_authenticated %}
          <hr>
          <p class="h3 text-light text-center"> Mi Perfil</p>
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ user.profile_picture.url }}" alt="mdo" width="25%" height="25%" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="#">Ajustes</a></li>
              <li>
                <a href="{% url 'usuarios:profile' user.id %}" class="dropdown-item">
                  <i class="fa-solid fa-circle-user fa-2xl hd-on-sm-screens"> </i> Perfil
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="{% url 'usuarios:logout' %}">
                  <i class="fa-solid fa-door-open fa-2xl pt-2"></i> Cerrar sesión
                </a>
              </li>
            </ul>
          </div>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
