{% extends 'base.html' %}

{% block content %}
<div class="pb-3"></div>
<div class="p-4 bg-gray"></div>
<div class="card card-body bg-dark shadow-lg">
    <div class="border border-secondary border-5">
        <div class="row m-3">
            <div class="col-md-4 align-self-center">
                <img src="{{ user.profile_picture.url }}" alt="Foto de perfil" class="col-11 m-3 img-fluid border border-primary border-5 rounded-5">
            </div>
            <div class="col-md-4 m-1 align-self-center text-center">
                <h1 class="display-4 text-light">{{ user.first_name }} {{ user.last_name }}</h1>
                <p class="display-6 text-light"><strong>({{ user.username }})</strong></p>
            </div>
            <div class="col-md-3 m-1 align-self-center text-light justify-self-start">
                <ul class="list-inline">
                    <li class="list-inline-item h3"><strong>Correo electrónico: </strong></li>
                    <li class="list-inline-item h5">{{ user.email }}</li>
                </ul>
                <ul class="list-inline">
                    <li class="list-inline-item h3"><strong>Numero de teléfono: </strong></li>
                    <li class="list-inline-item h5">{{ user.phone_number }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <ul class="list-inline">
            <li class="list-inline-item h3"><strong>Otras formas de contacto:</strong></li>
            <li class="list-inline-item h4">{% if user.contact_detail %}{{ user.contact_detail }}{% else %} Ninguna otra forma de contacto fue dispuesta{% endif %}</li>
        </ul>
    </div>
    <div class="row py-5">
        <h1 class="display-1 py-4 text-center">Tus mascotas</h1>
        <div class="sbody">
            <div class="sbox justify-content-between">
                {% for pet in pets %}
                <div class="scard mb-5 hover border border-primary border-5 shadow-lg rounded-4">
                  <div class="simgBx rounded-5">
                    <img src="{{pet.photo.url}}" class="simg rounded-4" alt="images">
                  </div>
                  <div class="sdetails">
                    <h1 class="sh2">{{pet.name}}</h2>
                    <footer class="card-footer text-muted">
                        <div class="btn-group">
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'pets:pet_detail' pet.id %}">Ver</a>
                            {% if user.is_authenticated %}
                                {% if current_user == user %}
                                <a type="button" class="btn btn-sm btn-outline-primary" href="{% url 'pets:pet_edit' pet.id %}">Editar</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </footer>
                  </div>
                </div>
                {% empty %}
                <h1 class="text-center">No pets found</h1>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="p-5 bg-gray"></div>
<div class="p-5 bg-gray"></div>
<div class="p-5 bg-gray"></div>
{% endblock %}