{% extends 'base.html' %}

{% block content %}

<div class="pt-5 bg-gradient"></div>
<div class="pt-5"></div>
<div class="row justify-content-center">
  <div class="col-md-7 col-lg-8">

    <form method="POST" enctype="multipart/form-data">
      <h2 class="text-center display-3">Registrate</h2>
      {{ error }}
      {% csrf_token %}
      {{ form.as_p }}
  
      <hr class="my-4">
  
      <button class="w-100 btn btn-primary btn-lg" type="submit">Registrarse</button>
  
      <p class="pt-3">¿Ya tienes una cuenta? <a href="{% url 'usuarios:login' %}">Inicia sesión</a> ahora</p>
  
    </form>
  
  
  </div>
</div>



{% endblock %}